<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>SimpleSurvey</display-name>


    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>login.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description>create survey servlet</description>
        <display-name>CreateSurvey</display-name>
        <servlet-name>CreateSurvey</servlet-name>
        <servlet-class>com.survey.SurveyConfig</servlet-class>
    </servlet>
    <servlet>
        <description>edit survey servlet</description>
        <display-name>EditSurvey</display-name>
        <servlet-name>EditSurvey</servlet-name>
        <servlet-class>com.survey.EditSurvey</servlet-class>
    </servlet>
    <servlet>
        <description>Mail configurations</description>
        <display-name>MailSurvey</display-name>
        <servlet-name>MailSurvey</servlet-name>
        <servlet-class>com.survey.MailConfig</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateSurvey</servlet-name>
        <url-pattern>/CreateSurvey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSurvey</servlet-name>
        <url-pattern>/EditSurvey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailSurvey</servlet-name>
        <url-pattern>/MailSurvey</url-pattern>
    </servlet-mapping>

</web-app>